@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Kanit', sans-serif;
}

header.site-header {
    margin-bottom: 4rem;
}

.item-avatar {
    bottom: -2rem;
    left: 2rem;
}
.job-item-price {
    /* top: 0rem;
    right: 2rem; */
}

.job-item-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-content p {
    @apply mb-5 text-black;
}


.site-footer {
    margin-top: 5rem;;
}
